---
export interface Props {
  classes?: string;
}
const { classes } = Astro.props;
---

<div
  class=`${classes} absolute h-[40rem] lg:h-full w-full -z-10 bg-gradient-radial from-secondary-500/20 bg-no-repeat`
>
</div>
