---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<li class="flex items-center gap-4">
  <i
    class="flex items-center justify-center min-w-[32px] min-h-[2rem] rounded-full ph ph-check bg-secondary-600"
  ></i>
  <span>{title}</span>
</li>
