---
import Button from "../atoms/Button.jsx";
import BackgroundRadialGradient from "../atoms/BackgroundRadialGradient.astro";
import Logo from "../atoms/Logo.astro";
---

<footer class="relative py-12 flex flex-col gap-8">
  <div class="container flex flex-col gap-8 bg-[#151515] rounded-lg p-8">
    <div class="flex flex-col text-center justify-center gap-4">
      <h2>
        <span
          class="bg-gradient-to-r bg-clip-text text-transparent from-secondary-500 to-primary-500"
          >Ready to get</span
        > more leads & sales?
      </h2>
      <p>
        Start a 14 day full featured trial. No credit card required. Choose a
        plan when you are ready. We have a forever free plan as well
      </p>
    </div>
    <Button
      text="Get started for free"
      onClick="#"
      classes="w-full button button--secondary"
    />
  </div>
  <div class="container items-center justify-center flex flex-col gap-4">
    <Logo />
    <p class="text-center opacity-75">
      Copyright © {new Date().getFullYear()} • PagePanda. All rights reserved.
    </p>
  </div>
  <BackgroundRadialGradient classes="-top-1/2" />
</footer>
