---
import Button from "../atoms/Button.jsx";
import Logo from "../atoms/Logo.astro";
---

<footer
  class="relative flex flex-col gap-12 pt-12 pb-8 sm:gap-14 md:gap-16 lg:gap-24 xl:gap-28 2xl:gap-32 sm:pt-14 md:pt-16 lg:pt-20 xl:pt-24 2xl:pt-28"
>
  <div
    class="container flex flex-col gap-8 bg-[#151515] rounded-lg py-12 px-8 sm:py-14 md:py-16 lg:py-24 xl:py-28 2xl:py-36"
  >
    <div
      class="flex flex-col justify-center gap-4 text-center md:gap-6 lg:gap-6"
    >
      <h2 class="text-h1">
        <span
          class="text-transparent bg-gradient-to-r bg-clip-text from-secondary-600 to-primary-500"
          >Ready to get</span
        > more leads & sales?
      </h2>
      <p class="max-w-2xl mx-auto">
        Start a 14 day full featured trial. No credit card required. <br
          class="hidden lg:block"
        />Choose a plan when you are ready. We have a forever free plan as well
      </p>
    </div>
    <Button
      text="Get started for free"
      link="#"
      classes="button button--secondary sm:self-center"
    />
  </div>
  <div class="container flex flex-col items-center justify-center gap-4">
    <Logo />
    <p class="text-sm text-center opacity-50">
      Copyright © {new Date().getFullYear()} • PagePanda. All rights reserved.
    </p>
  </div>
</footer>
../atoms/BackgroundRadialGradient.jsx/index.js