---
import { SITE_NAME } from "../../consts";
---

<header>
  <div class="container flex flex-col items-center justify-center gap-6 py-6">
    <div class="flex gap-3">
      <img src="favicon.svg" alt="" />
      <span class="text-2xl font-semibold uppercase">{SITE_NAME}</span>
    </div>
    <div class="hidden lg:block">
      <a href="https://app.pagepanda.com" class="w-full button button--primary"
        >Get started for free</a
      >
    </div>
  </div>
</header>
