---
import Logo from "../atoms/Logo.astro";
---

<header>
  <div class="container flex flex-col items-center justify-center gap-6 py-6">
    <Logo />
    <div class="hidden lg:block">
      <a href="https://app.pagepanda.com" class="w-full button button--primary"
        >Get started for free</a
      >
    </div>
  </div>
</header>
